@import '../../global.scss';

.login-content {
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  background:#ffffff;

  form {
    display:block;
    position:absolute;
    left:0px;
    right:0px;
    top:50%;
    box-sizing:border-box;
    width:96%;
    max-width:360px;
    min-height:300px;
    margin:auto;
    padding:40px 40px 40px 40px;
    background:$green-inactive;
    color:$secondary-color;
    @include transform(translateY(-50%));
  }

  .button {
    display:block;
    width:100%;
  }

  .field {
    border-color:#ffffff;
  }
}
