.DS_Store
/lib/
/data/
/nbproject/
/dist/
/build/
/RFT_BEERLEVELE-ejb/nbproject/
/RFT_BEERLEVELE-war/nbproject/
/RFT_BEERLEVELE-ejb/dist/
/RFT_BEERLEVELE-war/dist/
/RFT_BEERLEVELE-ejb/build/
/RFT_BEERLEVELE-war/build/
build.xml
**/build.xml
my-datavolume/
data/
nbproject/
