/* color */
$green: #10681a;
$light-green: #b0caaf;
$green-pressed: #004e09;
$green-inactive: $light-green;

$dark-green: #384333;

$blue: #01aab4;
$blue-pressed: #008890;
$blue-inactive: #afc8ca;

$primary-color:$dark-green;
$secondary-color:#ffffff;

$error-color:#ec4242;


/* Buttons */
$primary-button-bg: $green;
$primary-button-hover-bg: $green;
$primary-button-pressed-bg: $green-pressed;
$primary-button-inactive-bg: $green-inactive;
$primary-button-border: 2px solid $green;

$secondary-button-bg: $blue;
$secondary-button-hover-bg: $blue;
$secondary-button-pressed-bg: $blue-pressed;
$secondary-button-inactive-bg: $blue-inactive;
$secondary-button-border: 2px solid $blue;



/* Breakpoints */
$content-width: 1340px;
$thin-content-width: 800px;
$padding-change-width: 1440px;
$lying-tablet-width: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;

$img-path: "";

/* fonts */
$primary-fsize: 18px;
$primary-lheight: 26px;

$secondary-fsize:16px;
$secondary-lheight:24px;

$tertiary-fsize:14px;
$tertiary-lheight:20px;
$fontstack: 'Titillium Web', Arial, sans-serif;

$normal-fweight: 400;
$bold-fweight: 700;

/* Borders */
$border-radius:3px;
$border-style: 1px solid $green-inactive;

/* transitions */
$color-transition:color 0.25s linear;
$bg-transition: background-color 0.25s linear;
$border-color-transition:border-color 0.25s linear;
$shadow-transition:box-shadow 0.25s linear;
$opacity-transition:opacity 0.25s linear;
