@import '../../global.scss';

.table-outer {
  max-width:100%;
  overflow-x:auto;
}

.table {
  display:table;
  margin-top:30px;
  width:100%;

  .table-row {
    display:table-row;

    &.header-row {
      font-weight:$bold-fweight;
      .table-cell {
        text-align:center;
      }
    }

    &.data-row {
      background:#ffffff;
      &:nth-of-type(2n+2) {
        background:#f2f2f2;
      }
    }

    .table-cell {
      display:table-cell;
      padding:10px 5px 10px 5px;
      min-width:110px;
      vertical-align:middle;
      &:first-of-type {
        padding-left:20px;
      }

      &.number-cell {
        text-align:right;
      }

      .features-content {
        .feature-item {
          margin-right:10px;
          cursor:pointer;
          color:$primary-color;

          &:last-child {
            margin-right:0px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }
}
