@import '../../global.scss';

.field {
  font-family:$fontstack;
  display:block;
  box-sizing:border-box;
  outline:0;
  box-shadow: none;
  background:#ffffff;

  padding:5px 15px 5px 15px;
  font-size:$primary-fsize;
  line-height:$primary-lheight;
  height:50px;
  width:100%;
  border:$border-style;
  border-radius:$border-radius;
  transition:$border-color-transition;
  @include appearance(none);

  &.has-error {
    border-color:$error-color;
  }
}

@include placeholder {
  color:$primary-color;
  font-family:$fontstack;
}
